{% load staticfiles %}
<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>
	<script src="{% static 'js/custom_book.js' %}"></script>

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>


$( document ).ready(function() {


     $.ajax({
                url : '/store/book_types/',
                type : "POST",
                data: {csrfmiddlewaretoken: window.CSRF_TOKEN},

           })
                .done(function(data) {

                    $("#book_types").append("<li class='title' >Collections</li>")

                        $.each(data['book_types'], function(i, index) {
                            console.log(index)
                            $("#book_types").append("<li class='drop'><a href='/store/"+ index.id+ "/'>"+ index.book_type +"</a></li>")
                        });



                });




});


</script>