
{% load staticfiles %}

<header id="wn__header" class="oth-page header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-7 col-lg-2">
						<div class="logo">
							<a href="index.html">
								<img src="{% static 'images/logo/logo.png' %}" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="/">Home</a></li>
								<li class="drop"><a href="shop-grid.html">Books</a>
									<div class="megamenu mega03" style="width: 300px;">

										<ul class="item item03" >
											<li class="title" >Collections</li>
                                            <div id="book_types"></div>
{#                                              {% for books in book_type %}#}
{#											        <li><a href="/store/{{ books.id }}" >{{ books.book_type }} </a></li>#}
{#                                            {% endfor %}#}
										</ul>
									</div>
								</li>
								<li class="drop"><a href="/issue">ADMIN PAGE</a>

							</ul>
						</nav>
					</div>
					<div class="col-md-8 col-sm-8 col-5 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center" >
                            <li class="">

                                 {% if user.is_authenticated %}

                                        <font color="red" font="10px;" style="padding: 10px;">  {{ user.get_username }}</font>

                                 {%endif%}
                            </li>


							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								        <div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>My Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">

                                                          {% if user.is_authenticated %}
                                                              <span>

                                                                             <a href="/logout">Sign Out</a>

                                                            </span>
                                                              {% else %}
                                                               <span>
                                                                 <a href="/register">Sign In / Register</a>


                                                                 </span>

                                                        {%endif%}

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>




							</li>





						</ul>

					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="about.html">About Page</a></li>
										<li><a href="portfolio.html">Portfolio</a>
											<ul>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="portfolio-details.html">Portfolio Details</a></li>
											</ul>
										</li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart.html">Cart Page</a></li>
										<li><a href="checkout.html">Checkout Page</a></li>
										<li><a href="wishlist.html">Wishlist Page</a></li>
										<li><a href="error404.html">404 Page</a></li>
										<li><a href="faq.html">Faq Page</a></li>
										<li><a href="team.html">Team Page</a></li>
									</ul>
								</li>
								<li><a href="shop-grid.html">Shop</a>
									<ul>
										<li><a href="shop-grid.html">Shop Grid</a></li>
										<li><a href="single-product.html">Single Product</a></li>
									</ul>
								</li>
								<li><a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Page</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->
			</div>
		</header>
